@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #28282b;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 5rem;
    flex-flow: column;
}

header h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 3px 3px 30px #58585a;
}

header img {
    height: 3rem;
    margin-bottom: 1rem;
}

.container {
    width: min(1000px, 90%);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-direction: row;
}

.btn.menu {
    cursor: pointer;
    color: #a2a2a5;
    background-color: #28282b;
    margin: 0 2rem 2rem 0;
    padding: 1rem;
    box-shadow: 10px 5px 30px rgba(0, 0, 0, .3), -5px -2px 30px rgba(255, 255, 255, .05);
    font-size: 1.3rem;
}

.btn.menu.active {
    color: white;
    text-shadow: 3px 3px 30px #58585a; 
}

.btn.menu:last-child {
    margin: 0 0 2rem 0;
}

.watch-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.watch-container .display {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-shadow: 3px 3px 30px #58585a;
    text-align: center;
}

.watch-container .btn {
    color: #a2a2a5;
    cursor: pointer;
    font-size: 2.3rem;
    background-color: #28282b;
    box-shadow: 10px 5px 30px rgba(0, 0, 0, .3), -5px -2px 30px rgba(255, 255, 255, .05) ;
    padding: 1rem;
    width: 90%;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 40px
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.btn.play.active {
    color: white;
    text-shadow: 3px 3px 30px #58585a; 
}

.btn.stop.active {
    color: white;
    text-shadow: 3px 3px 30px #58585a; 
}

.watch-container .btn:hover {
    color: white;
    text-shadow: 3px 3px 30px #58585a;
}

@media only screen and (min-width: 900px) {

    .watch-container .display {
        font-size: 8rem;
    }

    .buttons-container {
        flex-flow: row;
    }

    .buttons-container .btn {
        margin-left: 2rem;
    }

    .buttons-container .btn:first-child {
        margin-left: 0;
    }
}